@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
    background-color: #0d274d;
}


header {
    background-color: #fff;

    height: 48Px;
}



.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;

}


.main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    
    background-image: url(../img/297030.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    /*Css padrão*/
    -webkit-background-size: cover;
    /*Css safari e chrome*/
    -moz-background-size: cover;
    /*Css firefox*/
    -ms-background-size: cover;
    /*Css IE não use mer#^@%#*/
    -o-background-size: cover;
    /*Css Opera*/


}

.produtos {

    width: 30%;
    height: 30%;
    margin-top: 0%;
    margin-left: 7%;
    margin-right: 200PX;
    display: flex;

}

.produtos h1 {
    font-weight: bolder 75%;
    text-align: left;
    height: 100px;
    font-size: 4em;
    color: #fff;

    width: 100%;

}


nav {
    position: absolute;
    top: 15px;
    right: 0;
}

nav li {
    display: inline;
    position: relative;
    right: 10px;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #0d274d;;

    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: steelblue;
}

ul {
    list-style: none;
}

.logo_caixa {

    height: 100px;
    position: absolute;
}

.logo {
    width: 120%;
}

.container-1{
    display: flex;
}

.container-1 p {
    
    
    padding-top: 5%;
    margin-top: -3%;
    height: 100px;
    font: inherit;
    background-color: #0d274d;
    /*background-color: blue;*/
    text-align: center;
    font-size: 1.5em;
    color: #fff;

    width: 100%;
    
}
.container-2{
    display: flex;    
    height: 50%;
    width: 100%;
    background-image: url(../img/quemSomos.jpg); 
    background-size: cover;   
    background-position: 0% 90%;
}

.container-3{
    display: flex;
}


.container-3 p {
    padding-top: 5%;
    margin-top: 0px;
    height: 100px;
    font: inherit;
    background-color: #fff;
    /*background-color: blue;*/
    text-align: center;
    font-size: 1.5em;
    color: #0d274d;

    width: 100%;
    
}

.containerMain{
    display: flex;
    
    width: 100%;
    height: 37%;
    background-color: #0d274d;
}

.container-4 {
    margin-top: 0px;

    background-image: url(../img/cisco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 100%;

    display: inline-block;

    background-color: rgb(233, 231, 231);


}

.container-5 {
    margin-top: 0px;

    background-image: url(../img/hpe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 100%;

    display: inline-block;

    background-color: rgb(233, 231, 231);


}
.container-6 {
    margin-top: 0px;

    background-image: url(../img/dell.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 34%;
    height: 100%;

    display: inline-block;

    background-color: rgb(233, 231, 231);


}

.container-7{
    display: flex;
}

.container-7 p {
    margin-top: 0px;
    height: 50px;
    font: inherit;
    background-color: #fff;
    /*background-color: blue;*/
    text-align: center;
    font-size: 1,5em;
    color: #0d274d;

    width: 100%;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d274d;;
    margin-bottom: 0px;
}

.footer h1 {
    font-size: 0.7em;
    color: #fff;
}

.map-responsive {

    overflow: hidden;

    padding-bottom: 30%;

    position: relative;

    height: 0;

}

.map-responsive iframe {

    left: 0;

    top: 0px;

    height: 100%;

    width: 100%;

    position: absolute;

}